<%- include ('../partials/head.ejs') %>

	<%- include('../partials/header.ejs') %>
		<section>
			
            
			<!-- product detail -->
			<div class="container products-wrapper">
				 <h2 class="products-title"> Detalle del producto: 
					<!-- <%= product.name %> - -->
				</h2>

			

			<div class="buttonListProduct">
                <button onclick="location.href='/products'">Listado de productos</button>
            </div>
		</div>
			
	
			<div class="product-detail">
	
				<div class="product-imag">
					<img src="/images/<%=product.image %>" alt="product image" class="product-detail-img">
					<p class="product-detail-description">
						<!-- <%= product.description %> -->
					</p>
				</div>
				<div class="product-detail2">
					<article class="product-detail-info">
						<h2 class="product-detail-title">
							<%= product.name %>
						</h2>
	
						<div class="product-detail-price small">
							<p> Precio $<%= product.price%></p>
	
						</div>

						<div class="product-detail-price">
							<p> Descuento $<%= product.discount%></p>
						</div>

	
						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en  <%= product.monthly_payments%> cuotas sin interes</p>
							</li>
							
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<hr>

						<button type="submit" class="action-button edit">Comprar ahora</button>

						<hr>
						<div class="contenedor-botones-productos" style="display: flex">
							<!--a href="/products/<%= product.id %>" class="action-button edit">EDITAR PRODUCTO</a-->
							<form action="/products/<%= product.id %>/editProduct" method="GET">
								<button type="submit" class="action-button edit">Editar Productos</button>
							</form>
						
							<form action="/products/<%= product.id %>?_method=DELETE" method="POST">
								<button type="submit" class="action-button delete">Eliminar Productos</button>
							</form>
						
							<form action="/products/<%= product.id %>/edit" method="GET">
							<button onclick="location.href='/products/car'">Añadir a carrito</button>
							</form>
						</div>

					</article>
				</div>
			</div>
		</section>
	
		<%- include('../partials/footer.ejs') %>