<%- include ('../partials/head.ejs') %>

<%- include('../partials/header.ejs') %>

<div class="container_registro_2">
    <h1 class="register-title">Edita tú Pc</h1>
    <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="container_nombre">
            
        <label> Nombre del producto: 
        </label>
        <input placeholder="Nombre del Producto" name="name" value="<%= product.name%>">
        
        </div>

        <div class="descripcion">

            <label>Descripcion:</label>
            <input placeholder="Descripcion" name="description" value="<%= product.description%>">

        </div>


        <div class="imagen">

            <label>Subí la imagen del producto:
            </label>
            <input type="file" id="image" name="image">

        </div>


        <!-- <div class="categoria">

            <label>Categoria:
            </label>
            <input placeholder="categoria" name="categoria">

        </div> -->

        <div class="precio">
            <label>Precio
            </label>
            <input placeholder="Precio" name="price" value="<%= product.price%>">
            
        </div>


        <button type="submit" class="submit">
            Editar
        </button>

    </form>
</div>

        <div>

            <%- include('../partials/footer.ejs') %>