<%- include ('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Detalle del producto: <%= product.name %> </h2> 
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/images/products/<%=product.image %>" alt="product image" class="product-detail-img">
					<p class="product-detail-description">
						<%= product.description %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= product.name %></h2>
						
							<p class="product-detail-price small">
								<span>$<%= product.price%></span>
								
								<b><%= product.discount%></b>
							</p>
							<p class="product-detail-price">
								$<%= product.discount%>
							</p>
							<p class="product-detail-price">
								$<%= product.discount%>
							</p>

						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button">COMPRAR AHORA</a>
						<hr>

						<!--a href="/products/<%= product.id %>" class="action-button edit">EDITAR PRODUCTO</a-->
						<form action="/products/<%= product.id %>/edit" method="GET" style="display: inline-flex">
							<button type="submit" class="action-button edit">EDITAR PRODUCTO</button>
						</form>
							<form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->


	<h1>Productos:</h1>

	<!-- Primer producto -->

	<section class="contenedor-wrapper">
		<div class="contenedor-Productos">
			<div class="contenedor-Productos">
				<div class="card-producto">
					<img class="card-producto-img" src="images/Apple Macbook Pro.jpg" alt="Notebook-MacbooP">
					<div class="contenedor-descripcion">
						<h3> <strong>Apple Macbook Pro</strong> </h3>
						<p> Intel Core i7 </p>
						<p>16 GB</p>
						<strong>$630.000</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>
					</div>

				</div>

				<!-- Segundo producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="images/Notebook Macbook Pro.jpg" alt="Notebook-MacbooP">
					<div class="contenedor-descripcion">
						<h3> <strong> Apple Macbook Pro</strong> </h3>
						<p> Intel UHD Graphics 617</p>
						<p>Core i5</p>
						<strong>$399.999</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>
					</div>

				</div>

				<!-- Tercer producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="images/laptop-mac.jpg" alt="laptop-mac">
					<div class="contenedor-descripcion">
						<h3><strong>Macbook Pro 2019</strong></h3>
						<p>macOS</p>
						<p>Core i5 </p>
						<strong>$306.000</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>
					</div>

				</div>

				<!-- Cuarto producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="images/Notebook Macbook Air.jpg"
						alt="Notebook Macboo Air">
					<div class="contenedor-descripcion">
						<h3><strong>Notebook Macbook Air</strong></h3>
						<p>Apple GPU</p>
						<p>M1 Chip 8-Nucleos CPU </p>
						<strong>$269.999</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>
					</div>

				</div>

				<!-- Quinto producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="images/Notebook Dell Inspiron 3505 Negra.jpg"
						alt="Notebook Dell Inspiron 3505 Negra">
					<div class="contenedor-descripcion">

						<h3><strong>Notebook Dell Inspiron 3505 Negra</strong></h3>
						<p>AMD Ryzen 5</p>
						<p>8GB</p>
						<strong>$114.999</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>


				<!-- Sexto producto  -->

				<div class="card-producto">
					<img class="card-producto-img" src="/images/Notebook Dell Inspiron 3505 Plata.jpg"
						alt="Notebook Dell Inspiron 3505 Plata">
					<div class="contenedor-descripcion">

						<h3><strong>Notebook Dell Inspiron 3505 Plata</strong></h3>
						<p>AMD Ryzen 5</p>
						<p>8GB</p>
						<strong>$99.999</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>

				<!-- Séptimo producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="/images/Notebook Lenovo IDEAPAD 3 15ITL05.jpg"
						alt="Notebook Lenovo">
					<div class="contenedor-descripcion">
						<h3><strong>Notebook Lenovo IDEAPAD 3 15ITL05</strong></h3>
						<p> Intel Core i3</p>
						<p> 6M Cache, up to 4.10 GHz</p>
						<strong>$79.999</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>
					</div>

				</div>


				<!-- Octavo producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="images/Notebook DELL Inspiron14 3000.jpg"
						alt="Notebook dell">
					<div class="contenedor-descripcion">
						<h3><strong> Notebook DELL Inspiron14 3000</strong></h3>
						<p> Intel Core i3 </p>
						<p> 4 MB cache</p>
						<strong>$78.999</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>


				<!-- Noveno producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="/images/Notebook Hp 15.jpg" alt="Notebook Hp 15">
					<div class="contenedor-descripcion">
						<h3><strong> Notebook Hp 15</strong></h3>
						<p> Intel Pentium Gold</p>
						<p> 4GB </p>
						<strong>$70.515</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>

				<!-- Décimo  producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="images/laptop-HP.jpg" alt="Notebook Hp">
					<div class="contenedor-descripcion">
						<h3><strong> Notebook Hp Pavilion</strong></h3>
						<p> Procesador Celeron N4000 1,10 GHz </p>
						<p> DDR4 de 4 GB 2400 MHz</p>
						<strong>$65.000</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>


				<!--  Décimo primer producto
				Computadoras de escritorios -->


				<div class="card-producto">
					<img class="card-producto-img" src="/images/Pc I5 10400f Ssd 480gb Hhd.jpg"
						alt="Pc I5 10400f Ssd 480gb Hhd">
					<div class="contenedor-descripcion">
						<h3><strong>Pc I5 10400f Ssd 480gb Hhd</strong></h3>
						<p>Intel Core i5</p>
						<p>16gb</p>
						<strong>$153.490</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>

				<!-- Décimo segundo poducto -->

				<div class="card-producto">
					<img class="card-producto-img" src="/images/Pc Armada Gamer AMD.jpg"
						alt="Pc Armada Gamer AMD">
					<div class="contenedor-descripcion">
						<h3><strong>Pc Armada Gamer AMD</strong></h3>
						<p>Intel Core i5</p>
						<p>16 GB</p>
						<strong>$113.948</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>

				<!--  Décimo tercer producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="/images/Pc Armada Gamer Diseño.jpg"
						alt="Pc Armada Gamer Diseño">
					<div class="contenedor-descripcion">
						<h3><strong>Pc Armada Gamer Diseño</strong></h3>
						<p>Intel Core i5</p>
						<p>32 GB</p>
						<strong>$106.948</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>

				<!-- Décimo cuarto producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="/images/PC Gaming Pack Bronze.jpg"
						alt="PC Gaming Pack Bronze">
					<div class="contenedor-descripcion">
						<h3><strong> PC Gaming Pack Bronze</strong></h3>
						<p> R Series </p>
						<p> 16 GB </p>
						<strong>$90.169</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>

				<!--Décimo quinto producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="images/pc-gamer-armada.jpg" alt="pc-gamer-armada">
					<div class="contenedor-descripcion">
						<h3><strong>Pc Armada Completa Intel I7</strong></h3>
						<p> PIntel Core i7 </p>
						<p> Windows 10 TRIAL 4gb</p>
						<strong>$87.399</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>

				<!-- Décimo sexto producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="/images/Pc Hp Slim S01-pf1502 Intel.jpg"
						alt="Pc Hp Slim S01-pf1502 Intel">
					<div class="contenedor-descripcion">
						<h3><strong>Pc Hp Slim S01-pf1502 </strong></h3>
						<p>Core I3 </p>
						<p>8gb</p>
						<strong>$67.999</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>

				<!-- Décimo séptimo producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="/images/Pc Lenovo Slim V50s.jpg"
						alt="Pc Lenovo Slim V50s">
					<div class="contenedor-descripcion">
						<h3><strong>Pc Lenovo Slim V50s</strong></h3>
						<p>Core I3 </p>
						<p>8gb</p>
						<strong>$66.469</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>

				<!-- Décimo Octavo producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="/images/Pc Computadora Completa Intel I3 1tb.jpg"
						alt="Pc Computadora Completa Intel I3 1tb">
					<div class="contenedor-descripcion">
						<h3><strong>Pc Computadora Completa Intel I3 1tb</strong></h3>
						<p> intel i3 </p>
						<p> 4GB </p>
						<strong>$59.999</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>

				<!-- Décimo noveno producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="/images/Computadora Pc Cpu.jpg"
						alt="Computadora Pc Cpu">
					<div class="contenedor-descripcion">
						<h3><strong>Computadora Pc Cpu</strong></h3>
						<p>Intel Core I3</p>
						<p>8gb</p>
						<strong>$52.690</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>

				<!-- vigésimo producto -->

				<div class="card-producto">
					<img class="card-producto-img" src="/images/Computadora Completa Amd.jpg"
						alt="Computadora Completa Amd">
					<div class="contenedor-descripcion">
						<h3><strong>Computadora Completa Amd</strong></h3>
						<p> AMD E6010N Dual Core </p>
						<p> 4GB 1600MHZ DDR3</p>
						<strong>$45.999</strong>
						<br>
						<div class="contenedor-cuotas"> en Hasta 12 cuotas sin interés</div>
						<div class="contenedor-envio"> Envío gratis</div>
						<br>
						<button onclick="location.href='/carrito-de-compras'">Ver detalle</button>
						<button onclick="location.href='/products/car'">Añadir a carrito</button>

					</div>
				</div>

			</div>
	</section>
	<%- include ('../partials/footer.ejs') %>

</body>	
</html>