<%- include ('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>

        <!-- Aqui comienzan los productos  -->

        <div class="titleProducts">
            <h1> Listado de Productos:</h1>

            <div class="buttonProducts">
                <button onclick="location.href='/products/addProduct'">Crear Producto</button>
            </div>
        </div>


        <!-- Primer producto -->

        <section class="contenedor-wrapper">
            <div class="contenedor-Productos">
                <div class="contenedor-Productos">
                    <%  products.forEach(product => { %>
                    <div class="card-producto">
                        <img class="card-producto-img" src="/images/products/<%= product.image %>" alt="Notebook-MacbooP">
                        <div class="contenedor-descripcion">
                            <h3> <strong><%= product.name %></strong> </h3>
                            <strong>$<%= product.price %></strong>
                            <br>
                            <div class="contenedor-cuotas"> en Hasta <%= product.monthlyPayment %> cuotas sin interés</div>
                            <div class="contenedor-envio"><%= product.shipping %></div>
                            <br>
                            <button onclick="location.href='/products/detailProduct/<%= product.id %>'">Ver detalle</button>
                            <button onclick="location.href='/products/car'">Añadir a carrito</button>
                        </div>

                    </div>
                    <% }) %>
                 
                    </div>

                </div>
        </section>
        <%- include ('../partials/footer.ejs') %>