<%- include ('../partials/head.ejs') %>

<%- include('../partials/header.ejs') %>

<div class="perfil-contenedor">
  <div class="perfil-box">
    <img src="/images/users/<%= user.image %>" alt="imagen del usuario" class="perfil-img">
    <h1>
      <%= user.name%>
        <%= user.lastname%>
    </h1>
    <span>
      <%= user.email %>
    </span>
  </div>
</div>
</body>

</html>